
<mat-accordion class="base-data">
  <mat-expansion-panel [expanded]="true">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="public-icon">public</mat-icon>
        <span class="base-data-title">Base Boundary Data</span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="base-data-content">
      <mat-radio-group name="boundary">
        <mat-radio-button class="boundary-option" id="boundary-option1" value="buurt" checked="true" (change)="onBasemapChange($event.value)">Neighborhoods</mat-radio-button>
        <mat-radio-button class="boundary-option" id="boundary-option2" value="stadsdeel" (change)="onBasemapChange($event.value)">Districts</mat-radio-button>
        <mat-radio-button class="boundary-option" id="boundary-option3" value="off" (change)="onBasemapChange($event.value)">Off (No Base Boundary Data)</mat-radio-button>
      </mat-radio-group>
      <div id="basemapAttr-container">
        <mat-form-field appearance="fill" id="basemap-attr" aria-selected="false">
          <mat-label>Select base vitality data</mat-label>
          <mat-select (selectionChange)="onAttrChange($event.value)">
            <mat-option *ngFor="let dataset of datasets" [value]="dataset.value">
              {{dataset.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon matTooltip="{{tooltiptext()}}" matTooltipPosition="right" id="basemap-info">info</mat-icon>
      </div>

      <!-- <small class="basedata-source">
        Source: RIVM Open data StatLine - Gezondheid per wijk en buurt 2016<br>(19 years and older)
      </small> -->
    </div>

  </mat-expansion-panel>
</mat-accordion>
