<header class="header">
  <div class="header-wrapper">
    <div class="header">
      <div class="header_inner">
        <div class="header_inner_left">
          <h2 class="data-title">
            Vitality Data in Eindhoven
          </h2>
      </div>
        <!-- <div class="header_inner_right">
          <div class="header_inner_right_shareIst">
            <span class="shareIst-txt">Share insight</span>
            <span class="shareIst-sep"></span>
            <div class="shareIst-wrapper">
              <mat-icon class="shareIst-logo" aria-hidden="false" aria-label="nav-icon1">flare</mat-icon>
              <span class="shareIst-num">12</span>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</header>
