<div class="annotation-container">
  <div class="annotation-container_switch">
      <mat-icon class="annotation-icon">location_on</mat-icon>
      <span class="annotation-txt">Annotation:</span>
      <mat-icon class="annotation-switch">visibility_off</mat-icon>
  </div>
  <div class="annotation-container_edit">
    <div class="annotation-edit">
      <mat-icon class="edit-icon">create</mat-icon>
      <span class="edit-txt">Add/Edit</span>
    </div>
    <button mat-button disabled class="create-button">Complete</button>
  </div>

</div>


