body {
  display: flex;
  flex-direction: column;
}

button {
  color: #fff;
  background-color: #2196F3;
  padding: 6px 16px;
  box-sizing: border-box;
  line-height: 1.75;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  margin: 24px 24px 0px;
  cursor: pointer;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  outline: none;
  position: relative;
  align-items: center;
  user-select: none;
}

@media (min-width: 1025px) {
  [sidebarjs-toggle=""] {
    display: block !important;
  }
}
