<div class="player-container">
  <div class="player-container_control">
    <span class="play-button">
      <mat-icon>play_arrow</mat-icon> <!-- pause -->
    </span>
    <span class="previous-button">
      <mat-icon>skip_previous</mat-icon>
    </span>
    <span class="next-button">
      <mat-icon>skip_next</mat-icon>
    </span>
  </div>

  <div class="player-container_bar">
    <div class="player-container_bar_container">
      <div class="progress-wrapper">
        <div class="dataviz-progress">
          <div class="draggable-point">
            <div class="dataviz-progress-handle"></div>
          </div>
          <div class="dataviz-progress-bar">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


